@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pacifico&display=swap');

 @import "tailwindcss";




*{
   font-family: "Outfit", sans-serif;
   scrollbar-width: thin;
   scrollbar-color: #787777 #1e1e1e;
}
 body {
            background-image: url('https://blog.auna.pe/hs-fs/hubfs/rutina-de-gym-crossfit-tipos-de-ejercicios.jpg?width=1280&height=720&name=rutina-de-gym-crossfit-tipos-de-ejercicios.jpg');
            background-size: cover;
            background-position: center;
        }

        .glass {
            backdrop-filter: blur(20px);
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.2);
        }

        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        #style-7::-webkit-scrollbar {
            width: 10px;
        }

        #style-7::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-image: -webkit-gradient(linear,
                    left bottom,
                    left top,
                    color-stop(0.44, rgb(122, 153, 217)),
                    color-stop(0.72, rgb(73, 125, 189)),
                    color-stop(0.86, rgb(28, 58, 148)));
        }

#checkbox {
  display: none;
}

.switch {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}
.switch svg {
  width: 1.2em;
}
.switch svg path {
  fill: rgb(48, 48, 48);
}
#checkbox:checked + .switch {
  box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 255) inset, 0px 0px 10px rgb(151, 243, 255) inset,
    0px 0px 40px rgb(151, 243, 255), 0px 0px 100px rgb(151, 243, 255),
    0px 0px 5px rgb(151, 243, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(146, 180, 184);
}
#checkbox:checked + .switch svg {
filter: drop-shadow(0px 0px 5px rgb(151, 243, 255));
}
#checkbox:checked + .switch svg path {
 fill: rgb(255, 255, 255);
  
} 

/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Btn::before {
  position: absolute;
  content: "SUBSCRIBE";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}

/*searchbar  */
.input {
  min-width: 50px;
  width: 50px;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 50px;
  border-radius: 50px;
  border: none;
  padding: 20px;
  font-size: 18px;
  font-weight: 200;
  color: transparent;
  font-family: "Courier New", Courier, monospace;
  background: rgba(1, 1, 1, 0.9);
  box-shadow: 0 2px 5px rgba(20, 20, 20, 0);
  background: linear-gradient(0deg, #141414ec, #00000cea, #00000cea, #141414ec);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: -5;
  opacity: 1;
  background-image: linear-gradient(#18305527 1px, transparent 1px),
    linear-gradient(to right, #18305527 1px, #00000c 1px);
  background-size: 10px 10px;
}

.input:focus {
  color: #999;
  width: 300px;
  outline-style: none;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  position: relative;
}

.search .i {
  position: absolute;
  inset: -1px;
  display: block;
  border-radius: 50px;
  pointer-events: none;
  z-index: -1;
  transition-duration: 0.8s;
  background: linear-gradient(
    -35deg,
    #f7f7f721 10%,
    transparent,
    rgba(243, 238, 243, 0.349) 80%
  );
}

.search .span {
  width: 100%;
  height: 100%;
  background-color: #222;
  position: absolute;
  pointer-events: none;
  border-radius: 50px;
}

.search .i:nth-child(3) {
  filter: blur(10px);
  background: linear-gradient(
    -35deg,
    #118cff 0%,
    transparent,
    transparent,
    #f1e 99%
  );
  inset: -2px;
}

.search .i:nth-child(5) {
  background: linear-gradient(
    -35deg,
    #118cff 0%,
    transparent,
    transparent,
    #f1e 99%
  );
  z-index: -1;
}

.search .icon {
  position: absolute;
  pointer-events: none;
  transition-duration: 0.8s;
  right: 0;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 15px;
  border-radius: 50px;
  fill: #aaa;
}

